code
[{"id":"18cd4cd1.e74dd3","type":"function","z":"d1829534.932728","name":"timeConvert","func":"if ( !msg.timestamp ) \n    msg.timestamp = Math.round(+new Date());\n//Math.round() จะเป็นฟังก์ชัน ปัดเศษขึ้น\n//+new Date() เป็นฟังก์ชันที่จะนำค่าเวลาปัจจุบัน\n//ในหน่วยของมิลลิวินาทีเริ่มจาก 1 มกราคม 1970\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":146,"wires":[["91decda7.880d58"]]},{"id":"5126bf0c.4001a8","type":"inject","z":"d1829534.932728","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126,"y":146,"wires":[["18cd4cd1.e74dd3"]]},{"id":"91decda7.880d58","type":"debug","z":"d1829534.932728","name":"","active":true,"console":"false","complete":"payload","x":634,"y":145,"wires":[]}]
