code
[{"id":"ccf2f7cf.c0969","type":"function","z":"d1829534.932728","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"x":383,"y":94,"wires":[["e2b92fff.f70b"]]},{"id":"ab637f29.3803a8","type":"inject","z":"d1829534.932728","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149,"y":94,"wires":[["ccf2f7cf.c0969"]]},{"id":"e2b92fff.f70b","type":"debug","z":"d1829534.932728","name":"","active":true,"console":"false","complete":"payload","x":657,"y":93,"wires":[]}]
